@use "a11y";
@forward "reset";

.blind {
  @include a11y.blind;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &-form__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-form__text {
    padding: 0.6rem;
    margin-bottom: 1rem;
  }

  &-form__button {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.todo-list {
  &-content {
    margin-bottom: 1rem;
  }

  &-text {
    margin-left: 0.312rem;
    margin-right: 0.312rem;
  }

  &__remove-button {
    padding: 0.3rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #f8d7da;
      color: #721c24;
    }
  }

  &__li {
    margin-top: 0.8rem;
  }

  &__checkbox:checked + span {
    text-decoration: line-through;
  }
}
